<!-- This is the style for the webpage background -->
<style>
body {
  background-color: purple;
}
</style>

<!-- This is to colour the text printed from the evaluations below -->
<h1 style = "color: silver;">
  <!-- These print on the page the global variables with method applied  -->
<%= @game.p1.name %> attacked <%= @game.p2.name %>
<br>
<%= @game.p2.name %>: <%= @game.p2.hit_points %>HP

<a href="/play">OK</a>
